<template>
  <v-row class="ma-0" :style="style">
    <v-col class="pa-0" cols="12">
      <cf-spacer :wone-height="14" />
      <v-row class="ma-0" justify="end">
        <v-icon @click="close()">mdi-close</v-icon>
        <cf-spacer :wone-width="32" />
      </v-row>
      <cf-spacer :wone-height="15" />
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    absolute: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    style() {
      const rtrn = { right: 0, top: 0 }
      if (this.absolute) {
        rtrn.position = 'absolute'
      }
      return rtrn
    }
  },
  methods: {
    close() {
      this.$emit('click')
    }
  }
}
</script>
