<template>
  <v-sheet class="bg-transparent" :width="width" :height="height" elevation="0">
    <slot />
  </v-sheet>
</template>

<script>
/**
 * @displayName Horizontal Delimiter
 */

export default {
  props: {
    /**
     * The Width Base
     */
    woneWidth: {
      validator: val => ['number', 'string'].includes(typeof val),
      default: '100%'
    },
    /**
     * The Height Base
     */
    woneHeight: {
      validator: val => ['number', 'string'].includes(typeof val),
      default: 'auto'
    },
    /**
     * The Type of calculate
     * @values exactly, woned, 2woned, 3woned, ...
     */
    raise: {
      validator: val => ['number', 'string'].includes(typeof val),
      default: 1
    }
  },
  data() {
    return {
      wone: 1
    }
  },
  computed: {
    modernRaise() {
      return this.wone < 1 ? this.raise : Math.min(this.raise, 1)
    },
    width() {
      return isNaN(+this.woneWidth)
        ? this.woneWidth
        : +this.woneWidth * Math.pow(this.wone, this.modernRaise)
    },
    height() {
      return isNaN(+this.woneHeight)
        ? this.woneHeight
        : +this.woneHeight * Math.pow(this.wone, this.modernRaise)
    }
  }
}
</script>
