<template>
  <v-row v-if="loading" class="ma-0" justify="center">
    <v-progress-circular indeterminate />
  </v-row>
  <v-row v-else class="ma-0">
    <v-data-table :items="items" :headers="columns">
      <template v-slot:headers="{}" />
      <template v-slot:no-data>
        {{ $t(path + '_on_this_no_changes_yet') }}
      </template>
      <template v-slot:item="{ item }">
        <tr>
          <td>
            <v-row class="ma-0" justify="center">
              <v-icon>
                {{ 'mdi-' + (item.isActive ? 'check-circle-outline' : 'pause-circle') }}
              </v-icon>
            </v-row>
          </td>
          <td>{{ item.descrip }}</td>
          <td>{{ item.unit }}</td>
          <td>
            <v-row class="ma-0" justify="end">
              {{ item.income.toFixed(2) }}
            </v-row>
          </td>
          <td>
            <v-row class="ma-0" justify="end">
              {{ item.expense.toFixed(2) }}
            </v-row>
          </td>
          <td>
            <v-row class="ma-0" justify="end">
              {{ item.profit.toFixed(2) }}
            </v-row>
          </td>
          <td>
            <v-row class="ma-0" justify="center">
              {{ fromTime(item) }}
            </v-row>
          </td>
        </tr>
      </template>
      <template v-slot:bottom="{}" />
    </v-data-table>
  </v-row>
</template>

<script>
import { getDateTimePart } from '~/helpers/methods'

export default {
  props: {
    recId: {
      type: Number,
      required: true
    },
    columns: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      path: 'components.pages.farmings.table.',
      items: [],
      loading: true
    }
  },
  computed: {
    fromTime() {
      return item => {
        return getDateTimePart(item.changeTime, 'dd.mm.yy hh:mm')
      }
    }
  },
  mounted() {
    this.updateFromDB()
  },
  methods: {
    async updateFromDB() {
      this.loading = true
      const query = `?recId=${this.recId}`
      try {
        const items = (
          await $fetch('api/admin/summaryHistory' + query, {
            method: 'GET'
          })
        ).result
        items.sort((a, b) => (a.descrip < b.descrip ? -1 : 1))
        console.log('>->-> :', JSON.stringify(items))
        items.splice(0, 1)
        console.log('>->-> :', JSON.stringify(items))
        this.items = items
      } catch (err) {
        console.error('ERROR:', err)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
