<template>
  <v-row class="ma-0 fill-height" align="center">
    <v-col
      v-for="(side, index) in sides"
      :key="index"
      cols="auto"
      :style="style(side)"
      @click="goto(side.path)"
    >
      {{ side.descrip }}
    </v-col>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      path: 'layouts.appBars.default.'
    }
  },
  computed: {
    sides() {
      return [
        { path: '/', descrip: this.$t(this.path + '_home') },
        { path: '/farmings', descrip: this.$t(this.path + '_farmings') }
      ]
    },
    style() {
      return side => {
        const color = side.path === this.$route.path ? 'blue' : 'inherit'
        return {
          fontSize: '1.1rem',
          cursor: 'pointer',
          color
        }
      }
    }
  },
  methods: {
    goto(path) {
      if (path !== this.$route.path) {
        this.$router.push({ path })
      }
    }
  }
}
</script>

<style></style>
