<template>
  <v-app>
    <v-app-bar absolute>
      <default-app-bar />
    </v-app-bar>
    <v-main>
      <v-container class="pa-3" fluid>
        <NuxtPage />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import DefaultAppBar from './appBars/default'
export default {
  components: {
    DefaultAppBar
  }
}
</script>
