<template>
  <v-row class="ma-0">
    <v-col>
      <v-row class="ma-0" justify="end">
        <v-col class="pa-0" cols="5">
          <v-text-field v-model="search" variant="outlined" :label="$t(path + '_filter')" />
        </v-col>
      </v-row>
      <v-row class="ma-0">
        <v-data-table
          v-model:expanded="expanded"
          :headers="headers"
          :items="items"
          item-value="recId"
          :search="search"
          show-expand
          :items-per-page="-1"
        >
          <template v-slot:item="{ item, internalItem, isExpanded, toggleExpand }">
            <tr style="font-weight: 600">
              <td>
                <v-row class="ma-0" justify="center">
                  <v-icon>
                    {{ 'mdi-' + (item.isActive ? 'check-circle-outline' : 'pause-circle') }}
                  </v-icon>
                </v-row>
              </td>
              <td>{{ item.descrip }}</td>
              <td>{{ item.unit }}</td>
              <td>
                <v-row class="ma-0" justify="end">
                  {{ item.income.toFixed(2) }}
                </v-row>
              </td>
              <td>
                <v-row class="ma-0" justify="end">
                  {{ item.expense.toFixed(2) }}
                </v-row>
              </td>
              <td>
                <v-row class="ma-0" justify="end">
                  {{ item.profit.toFixed(2) }}
                </v-row>
              </td>
              <td>
                <v-row class="ma-0" justify="end">
                  {{ fromTime(item) }}
                </v-row>
              </td>
              <td>
                <v-row class="ma-0" justify="center">
                  <v-icon
                    @click="toggleExpand(internalItem)"
                    :style="{
                      rotate: isExpanded(internalItem) ? '-90deg' : '0deg'
                    }"
                  >
                    mdi-history
                  </v-icon>
                </v-row>
              </td>
            </tr>
          </template>
          <template v-slot:expanded-row="{ columns, item }">
            <tr>
              <td :colspan="columns.length">
                <history-table :rec-id="item.recId" :columns="columns" />
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import HistoryTable from '~/components/pages/farmings/table'
import { getDateTimePart } from '~/helpers/methods'

export default {
  components: {
    HistoryTable
  },
  data() {
    return {
      path: 'pages.farmings.',
      items: [],
      search: '',
      expanded: [],
      selectedItem: null,
      showDialog: false
    }
  },
  computed: {
    headers() {
      return [
        {
          title: this.$t(this.path + '_activity'),
          value: 'isActive',
          sortable: true,
          width: '5%',
          align: 'center'
        },
        {
          title: this.$t(this.path + '_descrip'),
          sortable: true,
          width: '40%',
          value: 'descrip'
        },
        { title: this.$t(this.path + '_unit'), value: 'unit', width: '10%' },
        {
          title: this.$t(this.path + '_income'),
          value: 'income',
          width: '10%',
          align: 'end'
        },
        {
          title: this.$t(this.path + '_expense'),
          value: 'expense',
          width: '10%',
          align: 'end'
        },
        {
          title: this.$t(this.path + '_profit'),
          value: 'profit',
          width: '10%',
          align: 'end'
        },
        {
          title: this.$t(this.path + '_fromTime'),
          sortable: true,
          width: '15%',
          align: 'end'
        },
        {
          title: this.$t(this.path + '_history'),
          key: 'data-table-expand',
          width: '10%',
          align: 'center'
        }
      ]
    },
    fromTime() {
      return item => {
        return getDateTimePart(item.changeTime, 'dd.mm.yy hh:mm')
      }
    }
  },
  mounted() {
    this.updateFromDB()
  },
  methods: {
    async updateFromDB() {
      try {
        this.items = (
          await $fetch('api/admin/summary', {
            method: 'GET'
          })
        ).result
        this.items.sort((a, b) => (a.descrip < b.descrip ? -1 : 1))
      } catch (err) {
        console.error('ERROR:', err)
      }
    }
  }
}
</script>
