<template>
  <v-row class="ma-0">
    <v-col cols="auto">
      ეს სატესტოდაა
      <v-btn @click="click()">ping</v-btn>
    </v-col>
    <v-col cols="auto">
      <v-row class="ma-0 fill-height" align="center">
        {{ pong }}
      </v-row>
    </v-col>
  </v-row>
  <v-row class="ma-0">
    აქ უნდა იყოს აღწერა თუ რას და როგორ აკეთებს ეს ადმინისტრაციული საიტი
  </v-row>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      pong: ''
    }
  },
  methods: {
    async click() {
      this.pong = 'pinging ...'
      this.pong = await $fetch('api/ping', {
        method: 'GET'
      })
      setTimeout(() => (this.pong = ''), 3000)
    }
  }
}
</script>
